/* CSS Style */

* {
    font-family: "Segoe UI", sans-serif;
   /* border: 2px solid red; */
}

h1 {
    text-align: center;
}

.beefcake {
    color: red;
}

.food-img {
    height: auto;
    width: 300px;
    display: block;
}

.beefcake-img:hover {
    filter: hue-rotate(320deg) saturate(8);
}

.link-list {
    text-decoration: none;
    color: blue;
}

.beefcake {
    color:red;
}

.link-list:hover,
.link-list:active {
    color: plum;
}

.ingredients-list, 
.directions {
    margin-left: 100px;
    margin-right: auto;
    width: 50%;
    text-align: left;
}

h4 {
    margin-top: 40px;
    margin-bottom: 10px;
}

.nutrition {
    margin-left: auto;
    margin-right: auto;
}

.nutrition-title, .nutrition-stat {
    display: inline-block;
    width: 10%;
}

.nutrition-stat {
    width: 5%;
}

footer {
    background-color: #eee;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 13px;
    text-align: center;
    padding-bottom: 15px;
}