/* CSS Style */

* {
    font-family: "Segoe UI", sans-serif;
    font-size: 100%;
   /* border: 2px solid red; */
}

body {
    background: url(./recipes/background-img.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    text-align: center;
    font-size: 4.2rem;
}

section {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 50%;
    padding: 20px;
    box-shadow: 0 0 5px rgba(0,0,0,0.4);
    border-radius: 0 15px;
}

hr {
    color: red;
    border: 1px solid red;
    margin-top: -30px;
    margin-bottom: 50px;
}

.selection {
    text-align: center;
}

.beefcake {
    color: red;
}

.food-img {
    height: auto;
    width: 300px;
    display: block;
}

.beefcake-img:hover {
    filter: hue-rotate(320deg) saturate(8);
}

.navbar {
    display: inline-block;

}

.link-list {
    text-decoration: none;
    color: blue;
}

.link-list:hover,
.link-list:active {
    color: plum;
}

.beefcake {
    color:red;
}

.ingredients-list, 
.directions {
    margin-left: 100px;
    margin-right: auto;
    width: 50%;
    text-align: left;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    margin-top: 40px;
    margin-bottom: 10px;
    font-size: 1.2rem;
}

.nutrition {
    margin-left: auto;
    margin-right: auto;
}

.nutrition-title, .nutrition-stat {
    display: inline-block;
    width: 10%;
}

.nutrition-stat {
    width: 5%;
}

footer * {
    display: inline;
    font-size: 0.8rem;
}